# Completa estas variables con tus credenciales reales y renombra este archivo a .env
SUPA_BASE_URL=insertar_url_aqui
SUPAB_ASE_KEY=insertar_clave_aqui #Puedes poner la publica y privada
GITHUB_TOKEN=insertar_token